.redBand {
    color: #E85129;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.yellowBand {
    color: #F8A81C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.greenBand {
    color: #85BB58;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}